@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Playfair+Display:wght@500&display=swap');

body {
  background: linear-gradient(135deg, #ff758c, #ff7eb3);
  font-family: 'Great Vibes', 'Cursive', 'sans-serif';
  color: #fff;
  text-align: center;
  margin: 0;
  padding: 0;
}

.navbar {
  background: rgba(255, 255, 255, 0.2);
  padding: 15px;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.navbar a {
  font-size: 2rem;
  font-weight: bold;
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-size: 1.2rem;
  transition: 0.3s;
}

.navbar a:hover {
  color: #ffddf4;
  transform: scale(1.1);
}
.img-container{
  column-count: 3;
  max-width: 60rem;
}
img {
  width: 80vw;
  max-width: 400px;
  height: auto;
  border-radius: 15px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

button {
  padding: 10px 20px;
  font-size: 1.2rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin: 10px;
  transition: 0.3s;
}

button.yesss {
  background-color: #ff4d6d;
  color: white;
}

button.yesss:hover {
  background-color: #ff2e63;
}

button.noo {
  background-color: white;
  color: #ff4d6d;
  position: absolute;
  transition: transform 0.3s ease-in-out;
}

.main, .gallery, .happy, .letter, .home, .surprise {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  font-size: 2rem;
  max-width: 600px;
  line-height: 1.5;
}

@media (max-width: 768px) {
  .navbar {
      flex-direction: column;
      margin-top: 18px;
  }
  img {
      width: 90vw;
  }
  .img-container{
    column-count: 1;
  }
}
